@font-face {
	font-family: 'Century Ghotic';
	src: url(../src/GOTHIC.TTF) format(truetype);
}
:root {
    --rojo: rgb(143, 15, 15);
    --blanco: rgb(255, 255, 255);
    --titulos: rgb(55, 52, 53);
    --bordes: rgb(123, 84, 81);
    --headtabla: rgb(243, 243, 243);
    --colorletra: rgb(247, 149, 62);
    --fondo: rgba(132, 91, 66, 0.705);
    --colorletrahead: rgb(88, 84, 72);
    --fontcentury: "Century Gothic";
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--fontcentury)
}
.btnlink{
    margin-left: 2rem;
    border: 2px solid var(--bordes);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--colorletrahead);
    padding: 0.3rem;
    transition: background-color, color 1s;
    -webkit-transition: background-color, color 1s;
    -moz-transition: background-color, color 1s;
    -ms-transition: background-color, color 1s;
    -o-transition: background-color, color 1s;
}
.btnlink:hover{
    background-color: var(--bordes);
    color: var(--blanco);
    border: 1px solid var(--bordes);
 transition: background-color, color 1s;
 -webkit-transition: background-color, color 1s;
 -moz-transition: background-color, color 1s;
 -ms-transition: background-color, color 1s;
 -o-transition: background-color, color 1s;
}
.title {
    margin: 2rem 0;
    text-align: center;
    width: 80%;
    color: var(--titulos);
    font-size: 20pt;
    display: inline-block
}
.containeript{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ipt{
    padding: 0.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    outline: 0!important;
    border:1px solid;
}
.tb {
    display: flex;
    justify-content: center;
    align-content: center;
    border-collapse: collapse;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}
table{
    margin-top: 2rem;
}
th,
tr {
    border: 1.9px solid var(--bordes);
    padding: 0.3rem;
    background-color: white;
}

 th {
	font-weight: normal;
    padding: 0.7rem;
    min-width: 20%;
    width: 200px;
	border: 1px dashed rgb(123, 84, 81);
	border-top: 2px dashed rgb(123, 84, 81);
	border-left: 2px dashed rgb(123, 84, 81);
	border-right: 2px dashed rgb(123, 84, 81);
	padding: 5px;
	font-size: 11pt;
	font-style: normal;
	font-weight: normal;
	color: rgb(247, 149, 62);
	/* background-color: rgb(240, 200, 174); */
}
td {
    text-align: center;
    min-width: 20%;
    width: 200px;
	padding: 0.5rem;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	border: 2px dashed rgb(123, 84, 81);
}
.svg {
    margin-top: 1rem;
    width: 30px;
    height: 30px;
}
.svg--delete:hover {
    filter: invert(16%) sepia(48%) saturate(7480%) hue-rotate(355deg) brightness(98%) contrast(118%);
}